@import url('https://fonts.googleapis.com/css?family=Roboto:500,700');

*,
*::before,
*::after {
	box-sizing: border-box;
}

header {
    
	font-family: 'Roboto', serif;
	-webkit-font-smoothing: antialiased;
	 -moz-osx-font-smoothing: grayscale;
	 
	 background-image: url(img/SeoulNightView.png);
	 width: 100%;
	 height: 100vh;
	 background-attachment: fixed;
	 background-repeat: no-repeat;
	 background-size: cover;
	 background-position: center;
	text-align: center;
	 display: flex;
	 justify-content: center;
	 align-items: center;
 }
   
.nav{
	display: flex;
    justify-content: space-around;
	border-radius: 50px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: white;
	color: black;
	margin-top: 20px;
}

.nav-list{
	font-family: 'Noto Sans KR', sans-serif;
	margin-left: 10px;
	margin-right: 10px;
	font-size: 1.2em;
	text-align: center;
}

.title h1 {
	position: relative;
	display: block;
	margin: 0;
	font-size: 8rem;
	line-height: 1;
	transform: translateY(6rem);
	animation: up 700ms linear forwards;
    z-index: 1;
    color: white;
    text-shadow: 0 0 10px black;
    
	&::before,
	&::after {
		position: absolute;
		content: '';
		width: 0px;
		height: 1px;
		left: 0;
		background-color: rgba(0,0,0,0.2);
		z-index: -1;
	}
	
	&::before {
		top: 1.4rem;
		animation: draw 500ms linear 1s forwards;
	}
	
	&::after {
		bottom: 0.4rem;
		animation: draw 500ms linear 1s forwards;
	}
	
}

.title-text {
	font-size: 0;
	position: relative;
	overflow: hidden;
	padding-bottom: 0.4rem;
}

@keyframes up {
	
	100% {
		transform: translateY(0);
	}
	
}

@keyframes draw {
	
	100% {
		width: 100%;
	}
	
}